<ion-header>
  <ion-navbar color="primary">
      <ion-buttons start>
          <button ion-button menuToggle icon-only><ion-icon name="menu"></ion-icon></button>
      </ion-buttons>
      <ion-title>{{ 'Favorites' | translate }}</ion-title>
      <ion-buttons end>
          <button (click)="showPopup($event)" ion-button icon-only><ion-icon name="options"></ion-icon></button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
    <div class="chords" *ngIf="chords.length > 0">
        <chord-card *ngFor="let favorite of chords" [chord]="favorite" (onDetailClicked)="showDetail($event)"></chord-card>
    </div>

    <div class="label-container" *ngIf="chords.length == 0">
        <h1>{{ 'No favorites' | translate }}</h1>
        <p>{{ 'Chords you mark as favorite will show up here' | translate }}</p> 
    </div>
</ion-content>
