<ion-header>
  <ion-navbar color="primary">
      <ion-buttons start>
          <button ion-button menuToggle icon-only><ion-icon name="menu"></ion-icon></button>
      </ion-buttons>
      <ion-title>Favoris</ion-title>
      <ion-buttons end>
          <button (click)="showPopup($event, 'options')" ion-button icon-only><ion-icon name="settings"></ion-icon></button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
    <div class="chords" *ngIf="favorites.all().length > 0">
        <chord-card *ngFor="let favorite of favorites.all()" [chord]="favorite.note" (onDetailClicked)="showDetail($event)"></chord-card>
    </div>

    <div class="label-container" *ngIf="favorites.all().length == 0">
        <p>Aucun favori!</p> 
    </div>
</ion-content>
