scales-list {
    .scales {
        display: flex;
        flex-wrap: wrap;
        background-color: #f4f4f4;
        padding: 10px;

        ion-list {
            width: 100%;
            border: 1px solid #ccc;
            margin-bottom: 10px;

            ion-item-divider {
                border: 0 !important;
            }

            ion-item {
                div.item-inner {
                    border: 0 !important;
                }
            }

            ion-col {
                text-align: center;
            }
        }
    }
}
