<ion-header>
  <ion-navbar color="primary">
      <ion-buttons start>
          <button ion-button menuToggle icon-only><ion-icon name="menu"></ion-icon></button>
      </ion-buttons>
      <ion-title>Gammes</ion-title>
      <ion-buttons end>
        <button ion-button outline="true">Notes</button>
        <button ion-button outline="true" color="dark">Gammes</button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
    <div class="scales">
        <ion-list>
            <div *ngFor="let scale of scales">
                <ion-item-divider color="secondary">{{scale.name}}</ion-item-divider>
                <ion-item *ngFor="let single_scale of scale.scales">
                    <h2 *ngIf="single_scale.name">{{single_scale.name}}</h2>
                    <ion-row><ion-col *ngFor="let n of single_scale.notes">{{n}}</ion-col></ion-row>
                </ion-item>
            </div>
        </ion-list>
    </div>
</ion-content>
