<ion-header>
  <ion-navbar color="primary">
      <ion-buttons start>
          <button ion-button menuToggle icon-only><ion-icon name="menu"></ion-icon></button>
      </ion-buttons>
      <ion-title>{{ 'Scales' | translate }}</ion-title>
      <ion-buttons end>
          <button ion-button outline (click)="showModal($event)">{{ 'Filters' | translate }}</button>
        <button ion-button icon-only (click)="showPopup($event)"><ion-icon name="options"></ion-icon></button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
    <div class="scales">
        <ion-list *ngFor="let scale of scales">
            <ion-item-divider color="primary">{{ scale.name | translate }}</ion-item-divider>
            <div *ngFor="let s of scale.scales">
                <ion-item-divider *ngIf="s.note" color="secondary"><note-name [note]="s.note" [french]="config.general.letter_in_french"></note-name></ion-item-divider>
                <ion-item>
                    <ion-row><ion-col *ngFor="let note of s.notes"><note-name [note]="note" [french]="config.general.letter_in_french"></note-name></ion-col></ion-row>
                </ion-item>
            </div>
        </ion-list>
    </div>
</ion-content>
