scales-list {
    .scales {
        display: flex;
        flex-wrap: wrap;
        background-color: #f4f4f4;
        padding: 10px;

        ion-list {
            width: 100%;

            ion-col {
                text-align: center;
            }
        }
    }
}
