note-card {
        display: flex;
        flex-direction: column;
        width: calc(33%);

        @media (max-width: 412px) { width: calc(50%); }

    ion-card {

        svg {
            width: 100%;
            height: auto;

            text.fret-label {
                display: none;
            }

            path.finger-filling {
                fill: #000000 !important;
            }
        }

        .card-header {
            background-color: map-get($colors, secondary);
            color: #ffffff;
            border-bottom: .55px solid #c8c7cc;
            text-align: center;
        }
    }
}
