<ion-header>
  <ion-navbar color="primary">
      <ion-buttons start>
          <button ion-button menuToggle icon-only><ion-icon name="menu"></ion-icon></button>
      </ion-buttons>
      <ion-title>Favoris</ion-title>
      <ion-buttons end>
          <button (click)="showPopup($event)" ion-button icon-only><ion-icon name="options"></ion-icon></button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
    <div class="notes" *ngIf="notes.length > 0">
        <note-card *ngFor="let favorite of notes" [note]="favorite.note" [singlePosition]="favorite.position" [clef]="favorite.clef" (onItemChanged)="generateList()"></note-card>
    </div>

    <div class="label-container" *ngIf="notes.length == 0">
        <p>Aucune note n'est pas les favoris!</p> 
    </div>
</ion-content>
