<ion-header>
  <ion-navbar color="primary">
      <ion-title><chord-name *ngIf="chord" [note]="chord.note" [form]="chord.form" [french]="config.general.letter_in_french" ></chord-name></ion-title>
      <ion-buttons end>
          <button (click)="showPopup($event)" ion-button icon-only><ion-icon name="options"></ion-icon></button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
    <div class="chords">

        <ion-card id="position_{{i}}" *ngFor="let p of positions; let i = index;">
            <ion-card-content>
                <chord-position [position]="p.position"></chord-position>
            </ion-card-content>
            <ion-card-header>{{ 'Position' | translate }}</ion-card-header>
                <ion-row class="strings-container">
                    <ion-col *ngFor="let s of p.position.strings">
                        {{s.fret}}
                    </ion-col>
                </ion-row>
                <ion-card-header>{{ 'Notes' | translate }}</ion-card-header>
                <ion-row class="strings-container">
                    <ion-col *ngFor="let s of p.position.strings">
                        <note-name *ngIf="s.finger >= 0" [note]="s.note" [french]="config.general.letter_in_french"></note-name>
                    </ion-col>
                </ion-row>
            <div class="buttons">
                <button *ngIf="!p.isFavorited" ion-button icon-left (click)="favorite(i)">
                    <ion-icon name="star" item-left></ion-icon>{{ 'Add' | translate }}
                </button>
                <button *ngIf="p.isFavorited" ion-button icon-left (click)="favorite(i)">
                    <ion-icon name="star" item-left></ion-icon>{{ 'Remove' | translate }}
                </button>
            </div>
        </ion-card>

    </div>
</ion-content>
