chords-detail {
    ion-card {
        ion-row.scale {
            ion-col {
                text-align: center;
                color: #cccccc;
            }
        }

        ion-card-content {
            text-align: center;
        }
    }

    note-name.active {
        font-weight: bold;
        color: #000000;
    }
}
