chords-detail {

    ion-list {
        margin-bottom: 6px !important;
    }

    .swiper-wrapper {
        margin-top: 10px;
    }

    .swiper-container-horizontal > .swiper-pagination-bullets {
        top: 0;
        bottom: inherit;
    }

 .swiper-pagination-bullet-active {
     background: map-get($colors, 'primary');
 }

    chord-position {
        max-width: 200px;

        svg {
            max-width: 100%;
            height: auto;
        }
    }

    ion-row.strings-container {
        ion-col {
            text-align: center;
        }
    }
    ion-card {
        ion-row.strings-container {
            max-width: 220px;
            margin: 16px auto;
        }

        ion-card-header {
            font-weight: bold;
            text-align: center;
            background-color: map-get($colors, 'secondary');
            color: #ffffff !important;
        }

        ion-card-content {
            text-align: center;
        }
    }

    note-name.active {
        font-weight: bold;
        color: #000000;
    }
}
