<ion-header>
  <ion-navbar color="primary">
      <ion-title><chord-name [note]="note" [french]="config.ChordsOptions.show_note_in_french" [type]="type"></chord-name></ion-title>
      <ion-buttons end>
          <button (click)="showPopup($event, 'options')" ion-button icon-only><ion-icon name="settings"></ion-icon></button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
    <div class="chords">

        <ion-card *ngIf="config.ChordsOptions.show_scale">
            <ion-card-header>
                Scale
            </ion-card-header>
            <ion-row class="scale">
                <ion-col *ngFor="let note of chord.scales; let i = index;">
                    <note-name [ngClass]="{'active':type.scale_parts.indexOf(i+1) >= 0}" [note]="note" [french]="config.ChordsOptions.show_note_in_french"></note-name>
                </ion-col>
            </ion-row>
        </ion-card>

        <ion-card *ngIf="config.ChordsOptions.show_strings_name">
            <ion-card-header>
                Strings Name
            </ion-card-header>
            <ion-row class="scale">
                <ion-col *ngFor="let s of getStrings()">
                    <note-name [note]="s.name" [french]="config.ChordsOptions.show_note_in_french"></note-name>
                </ion-col>
            </ion-row>
        </ion-card>

        <ion-card id="position_{{i}}" *ngFor="let position of chord.positions; let i = index;">
            <ion-card-content>
                <chord-position [position]="position"></chord-position>
            </ion-card-content>
            <div *ngIf="config.ChordsOptions.show_frets">
                <ion-card-header>
                    Frets
                </ion-card-header>
                <ion-row class="scale">
                    <ion-col *ngFor="let s of position.strings">
                        {{s.fret}}
                    </ion-col>
                </ion-row>
            </div>
            <div *ngIf="config.ChordsOptions.show_notes">
                <ion-card-header>
                    Notes
                </ion-card-header>
                <ion-row class="scale">
                    <ion-col *ngFor="let s of position.strings">
                        <note-name [note]="s.note" [french]="config.ChordsOptions.show_note_in_french"></note-name>
                    </ion-col>
                </ion-row>
            </div>
            <div class="buttons">
                <button *ngIf="!isFavorite(chord, i)" ion-button icon-left (click)="addToFavorite(chord, i)">
                    <ion-icon name="star" item-left></ion-icon> Favorite
                </button>
                <button *ngIf="isFavorite(chord, i)" ion-button icon-left (click)="removeToFavorite(chord, i)">
                    <ion-icon name="star" item-left></ion-icon> Unfavorite
                </button>
            </div>
        </ion-card>

    </div>
</ion-content>
