<svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" version="1.1" width="250" height="300" viewBox="0 0 210 300">
    <text *ngFor="let label of getFretLabels(); let i = index" [ngClass]="getFretLabelsClasses(i)" x="-16" y="0" fill="black">{{label}}</text>

    <g *ngIf="position.start == 1" id="chord-top">
    <g class="frets">
    <rect
       transform="matrix(0,1,-1,0,0,0)"
       y="-188.5"
       x="257.19321"
       height="168.5"
       width="4.1208792"
       id="rect4458"
       style="display:inline;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
    <rect
       transform="matrix(0,1,-1,0,0,0)"
       y="-188.5"
       x="202.33516"
       height="168.5"
       width="4.1208792"
       id="rect4460"
       style="display:inline;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
    <rect
       transform="matrix(0,1,-1,0,0,0)"
       y="-188.5"
       x="147.39011"
       height="168.5"
       width="4.1208792"
       id="rect4462"
       style="display:inline;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
    <rect
       transform="matrix(0,1,-1,0,0,0)"
       y="-188.5"
       x="92.71978"
       height="168.5"
       width="4.1208792"
       id="rect4464"
       style="display:inline;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
    <rect
       transform="matrix(0,1,-1,0,0,0)"
       y="-188.5"
       x="38.598904"
       height="168.5"
       width="4.1208792"
       id="rect4466"
       style="display:inline;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
    </g>
    <g class="string string-A" ng-class="{muted:muted['A']}">
    <rect
                               y="38.263737"
                               x="185.3022"
                               height="249.09891"
                               width="4.1208792"
                               id="rect4454"
                               style="fill-rule:evenodd;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
    </g>
    <g class="string string-E" ng-class="{muted:muted['E']}">
    <rect
                               y="38.263737"
                               x="129.94505"
                               height="249.09891"
                               width="4.1208792"
                               id="rect4444"
                               style="fill-rule:evenodd;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
    </g>
    <g class="string string-C" ng-class="{muted:muted['C']}">
    <rect
                               y="38.263737"
                               x="74.587914"
                               height="249.09891"
                               width="4.1208792"
                               id="rect4448"
                               style="fill-rule:evenodd;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
    </g>
    <g class="string string-G" ng-class="{muted:muted['G']}">
    <rect
                               y="38.263737"
                               x="19.230768"
                               height="249.09891"
                               width="4.1208792"
                               id="rect4456"
                               style="fill-rule:evenodd;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
    </g>
    <g
                               inkscape:groupmode="layer"
                               id="layer6"
                               inkscape:label="Top bar"
                               style="display:inline">
    <rect
                               style="display:inline;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                               id="rect3502-5-2-9"
                               width="4.1208792"
                               height="170.05495"
                               x="20.654757"
                               y="-189.56767"
                               transform="matrix(0,1,-1,0,0,0)" />
    </g>
    </g>

    <g *ngIf="position.start > 1" id="chord-middle">
    <g class="frets">
    <rect
       style="display:inline;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       id="rect3502-5"
       width="4.1208792"
       height="168.5"
       x="257.19321"
       y="-188.5"
       transform="matrix(0,1,-1,0,0,0)" />
    <rect
       style="display:inline;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       id="rect3502-5-3"
       width="4.1208792"
       height="168.5"
       x="202.33516"
       y="-188.5"
       transform="matrix(0,1,-1,0,0,0)" />
    <rect
       style="display:inline;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       id="rect3502-5-5"
       width="4.1208792"
       height="168.5"
       x="147.39011"
       y="-188.5"
       transform="matrix(0,1,-1,0,0,0)" />
    <rect
       style="display:inline;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       id="rect3502-5-6"
       width="4.1208792"
       height="168.5"
       x="92.71978"
       y="-188.5"
       transform="matrix(0,1,-1,0,0,0)" />
    <rect
       style="display:inline;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       id="rect3502-5-2"
       width="4.1208792"
       height="168.5"
       x="38.598904"
       y="-188.5"
       transform="matrix(0,1,-1,0,0,0)" />
    </g>
    <g class="string string-A">
    <rect
       style="fill-rule:evenodd;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       id="rect3502-3-6-7"
       width="4.1208792"
       height="272.25275"
       x="185.3022"
       y="14.56044" />
    </g>
    <g class="string string-E">
    <rect
       style="fill-rule:evenodd;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       id="rect3502-3-6"
       width="4.1208792"
       height="272.25275"
       x="129.94505"
       y="14.56044" />
    </g>
    <g class="string string-C">
    <rect
       style="fill-rule:evenodd;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       id="rect3502-3"
       width="4.1208792"
       height="272.25275"
       x="74.587914"
       y="14.56044" />
    </g>
    <g class="string string-G">
    <rect
       style="fill-rule:evenodd;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       id="rect3502"
       width="4.1208792"
       height="272.25275"
       x="19.230768"
       y="14.56044" />
    </g>
    </g>

    <g *ngFor="let finger of getFingers()" [ngClass]="getFretClasses(finger)">
    <path class="finger-border" d="M 14.414842,85.18643 C 4.5178927,80.61869 0.29151272,69.35564 4.8048927,59.57648 c 7.0253593,-15.2219 28.1945493,-15.2219 35.2199093,0 7.45561,16.15412 -9.45583,33.06556 -25.60996,25.60995 z" />
    <path class="finger-filling" d="m 29.993162,80.80268 c 10.5108,-7.08323 10.5108,-19.36918 0,-26.45241 -6.73344,-4.53766 -15.55421,-2.14306 -20.80452,5.64788 -8.45009928,12.5391 8.26543,29.25462 20.80452,20.80453 z" />
    <text x="17" y="76" fill="black" ng-show="finger > 0">{{finger.finger}}</text>
    </g>
</svg>
