<ion-menu [content]="content">

    <ion-header>
        <ion-toolbar color="primary">
            <ion-title>Ukulele</ion-title>
        </ion-toolbar>
    </ion-header>
    
    <ion-content padding>
        <ion-list>
            <ion-item-divider color="secondary">Accords</ion-item-divider>
            <button [ngClass]="{'active':p == currentPage}" ion-item *ngFor="let p of chordsPages" (click)="openPage(p)">{{p.title}}</button>
        </ion-list>

        <ion-list>
            <ion-item-divider color="secondary">Notes</ion-item-divider>
            <button [ngClass]="{'active':p == currentPage}" ion-item *ngFor="let p of notesPages" (click)="openPage(p)">{{p.title}}</button>
        </ion-list>

        <ion-list>
            <ion-item-divider color="secondary">Gammes</ion-item-divider>
            <button [ngClass]="{'active':p == currentPage}" ion-item *ngFor="let p of scalesPages" (click)="openPage(p)">{{p.title}}</button>
        </ion-list>

        <ion-list>
            <button ion-item icon-left [ngClass]="{'active':settingsPage[0] === currentPage}" (click)="openPage(settingsPage[0])"><ion-icon name="settings"></ion-icon> {{ 'Settings' | translate }}</button>
        </ion-list>
    </ion-content>

</ion-menu>

<ion-nav id="nav" [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
