musical-note {
    svg {
        width: 100%;
        height: auto;

        g#treble-clef { transform: translate(6px, 0); }

        g.stroke,
        g.sharp,
        g.flat,
        g.under {
            display: none;
        }

        &.sharp {
            g.sharp {
                display: inline;
                transform: translate(16px, 0);
            }
        }

        &.flat {
            g.flat {
                display: inline;
                transform: translate(16px, 0);
            }
        }

        g.note {
            &.line-1 {
                transform: translate(0px, 40px);

                g.stroke { display: inline; }
                g.down { display: none; }
            }

            &.line-2 {
                transform: translate(0px, 30px);

                g.down { display: none; }
            }

            &.line-3 {
                transform: translate(0px, 13px);

                g.down { display: none; }
            }

            &.line-4 {
                transform: translate(0px, 0px);

                g.down { display: none; }
            }

            &.line-5 {
                transform: translate(0px, -13px);

                g.down { display: none; }
            }

            &.line-6 {
                transform: translate(0px, -28px);

                g.down { display: none; }
            }

            &.line-7 {
                transform: translate(0px, -42px);

                g.up { display: none; }
            }


            &.line-8 {
                transform: translate(0px, -57px);

                g.up { display: none; }
            }

            &.line-9 {
                transform: translate(0px, -70px);

                g.up { display: none; }
            }

            &.line-10 {
                transform: translate(0px, -86px);

                g.up { display: none; }
            }

            &.line-11 {
                transform: translate(0px, -100px);

                g.up { display: none; }
            }

            &.line-12 {
                transform: translate(0px, -114px);

                g.up { display: none; }
            }

            &.line-13 {
                transform: translate(0px, -128px);

                g.up { display: none; }
                g.stroke { display: inline; }
            }

            &.line-14 {
                transform: translate(0px, -142px);

                g.up { display: none; }
                g.under { display: inline; }
            }
        }
    }
}
