musical-note {
    svg {
        width: 100%;
        height: auto;

        g#G-Key { transform: translate(6px, 0); }

        g#Stroke,
        g#Sharp,
        g#Flat {
            display: none;
        }

        &.sharp {
            g#Sharp {
                display: inline;
                transform: translate(16px, 0);
            }
        }

        &.flat {
            g#Flat {
                display: inline;
                transform: translate(16px, 0);
            }
        }

        &.line-1 {
            g#Stroke { display: inline; }
            g#Down { display: none; }
            g#Note { transform: translate(0px, 40px); }
        }

        &.line-2 {
            g#Down { display: none; }
            g#Note { transform: translate(0px, 30px); }
        }

        &.line-3 {
            g#Down { display: none; }
            g#Note { transform: translate(0px, 13px); }
        }

        &.line-4 {
            g#Down { display: none; }
            g#Note { transform: translate(0px, 0px); }
        }

        &.line-5 {
            g#Down { display: none; }
            g#Note { transform: translate(0px, -13px); }
        }

        &.line-6 {
            g#Down { display: none; }
            g#Note { transform: translate(0px, -28px); }
        }

        &.line-7 {
            g#Up { display: none; }
            g#Note { transform: translate(0px, -42px); }
        }


        &.line-8 {
            g#Up { display: none; }
            g#Note { transform: translate(0px, -57px); }
        }

        &.line-9 {
            g#Up { display: none; }
            g#Note { transform: translate(0px, -57px); }
        }
        
        &.line-10 {
            g#Up { display: none; }
            g#Note { transform: translate(0px, -70px); }
        }

        &.line-11 {
            g#Up { display: none; }
            g#Note { transform: translate(0px, -86px); }
        }

        &.line-12 {
            g#Up { display: none; }
            g#Note { transform: translate(0px, -100px); }
        }
        
        &.line-13 {
            g#Up { display: none; }
            g#Note { transform: translate(0px, -114px); }
        }
    }
}
