<ion-header>
  <ion-navbar color="primary">
      <ion-title><note-name [note]="note" [french]="config.general.letter_in_french"></note-name></ion-title>
      <ion-buttons end>
          <button (click)="showPopup($event)" ion-button icon-only><ion-icon name="options"></ion-icon></button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
    
    <ion-segment [ngModel]="currentClef">
        <ion-segment-button *ngFor="let clef of clefs" [value]="clef.letter.name" (ionSelect)="onFilterChanged($event)">Clef de <note-name [note]="clef" [french]="config.general.letter_in_french"></note-name></ion-segment-button>
    </ion-segment>

    <ion-card id="position_{{p.position}}" *ngFor="let p of positions; let i = index;">
        <ion-card-content>
            <musical-note [note]="note" [singlePosition]="p.position" [clef]="currentClef"></musical-note>
        </ion-card-content>
        <div class="buttons">
            <button *ngIf="!p.isFavorited" ion-button icon-left (click)="favorite(p.position)"><ion-icon name="star" item-left></ion-icon> Ajouter</button>
            <button *ngIf="p.isFavorited" ion-button icon-left (click)="favorite(p.position)"><ion-icon name="star" item-left></ion-icon> Remove</button>
        </div>
    </ion-card>

</ion-content>
